.action-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  font-family: 'TT Lakes Bold', sans-serif;
  font-size: .75rem;
  line-height: 1.5rem;
  text-indent: .75rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FF3E79;
  color: #FFFFFF;
  outline: none;
  transition: all .2s linear;
}
.action-button::after {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .25rem;
  margin-left: .5rem;
  line-height: 1rem;
  background: url(./../img/gt-white.svg) 50% 50% no-repeat;
  border-radius: 50%;
}
.action-button:hover {
  background-color: #CF114B;
  transition: background-color .2s linear;
}
.action-button:active::after, .action-button:hover::after, .action-button:focus::after {
  margin-right: 0;
  transition: margin-right .2s linear;
}
