.credits {
  list-style: none;
  text-align: center;
}
.credits__item {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: .875em;
  line-height: 1rem;
  color: #7E7E82;
}
.credits__link {
  text-decoration: none;
  color: #7E7E82;
}
.credits__link:hover, .credits__link:active, .credits__link:focus {
  text-decoration: underline;
}
.credits__link--copyright {
  display: block;
}
@media screen and (min-width:540px) {
  .credits {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .credits__item {
    margin-bottom: 0;
    flex-basis: 33.33%;
  }
  .credits__item:first-child {text-align: left}
  .credits__item:last-child {text-align: right}
}
