.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.form__fieldset::after {
  clear: both;
}
.form__field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
  padding: .75rem 1rem;
  font-family: "TT Lakes Medium";
  font-size: 1rem;
  line-height: 1.5rem;
  color: #1B1C21;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
}
.form__field::placeholder {
  color: #B5B6BC;
}
.form__notice {
  padding: 0;
  margin: 0 0 1rem;
  font-size: .875rem;
  line-height: 1rem;
  color: #1B1C21;
}
.form__link {
  text-decoration: none;
  color: #FF3E79;
}
.form__submit {
  float:right;
}
