.langs {
  display: flex;
  gap: .5rem
}
.langs__link {
  font-family: 'TT Lakes Medium';
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #1B1C21;
  outline: none;
}
.langs__link:active, .langs__link:hover, .langs__link:focus {
  color: #41F6D7;
  transition: color .4s ease
}
.langs__link--active {
  color: #7E7E82;
}
