@import 'fonts.css';
@import 'oicon.css';
@import 'expandbutton.css';
@import 'actionbutton.css';


body {
  margin: 0;
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  background-color: #F8F8F8;
}
@media screen and (min-width:1440px) {
  body {
    position: relative;
  }
}

ul, ol {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}
.hide-xs {
  display: none;
}
@media screen and (min-width:540px) {
  .hide-xs {
    display: block;
  }
}
@media screen and (min-width:1440px) {
  .hide-xl {
    display: none;
  }
}

.nolist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  display: block;
  width: 97px;
  height: 51px;
  background: url('./../img/cps-logo.svg') 50% 50% no-repeat;
  font-size: 0;
  text-decoration: none;
}


.page-wrap {
  max-width: 1520px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 1rem 0 rgba(69, 79, 126, 0.2);
}
.page {
  padding: 1.5rem 0;
  margin-left: 0;
}
@media screen and (min-width:1440px) {
  .page {
    position: relative;
    margin-left: 320px;
    padding-top: 2.5rem;
    background-color: #F8F8F8;
  }
}
.content {
  position: relative;
}


/* CPANEL */
.controls {
  padding: 0 1rem;
  border-bottom: 1px solid #D9FFF5;
  background-color: #FFFFFF;
}
.controls__parts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  list-style: none;
}
.controls__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.controls__item {
  margin-right: 1rem;
}
.controls__item:last-child {
  margin-right: 0;
}
.controls__item--divider {
  content: "";
  height: 2rem;
  width: 2px;
  background-color: #EAEAEA;
  border-radius: 1px;
}
.controls__link {
  text-decoration: none;
}
@media screen and (min-width:768px) {
  .controls  {
    padding: 0 1.5rem;
  }
}
@media screen and (min-width:1440px) {
  .controls {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 2.5rem;
    background-color: transparent;
    border-bottom: none;
  }
  .controls__parts {
    height: auto;
  }
  .controls__list {
    justify-content: flex-end;
  }
}


/* PAGE TITLE */
.page__title {
  position: relative;
  margin: 0 0 1.5rem;
  padding-left: 1rem;
}
.page-title {
  font-family: 'TT Lakes Bold';
  font-size: 1.75rem;
  line-height: 1.43;
  color: #1B1C21;
}
.page-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 0 4px 4px 0;
}
@media screen and (min-width:768px) {
  .page__title {
    padding-left: 1.5rem;
  }
}
@media screen and (min-width:1440px) {
  .page__title {
    padding-left: 2rem;
    padding-right: 45%;
  }
  .page-title::before {
    left: 2px;
    width: 3px;
    height: 40px;
    border-radius: 2px;
  }
}


/* PAGE MENU / CHAPTERS LIST */
.page__menu {
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}
@media screen and (min-width:768px) {
  .page__menu  {
    padding: 0 1.5rem;
  }
}
@media screen and (min-width:1440px) {
  .page__menu  {
    padding: 0 2rem;
  }
}
.chapters__item {
  box-sizing: border-box;
  padding: .5rem 1rem;
  margin-right: 0;
  border: 2px solid #F8F8F8;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.5;
}
.chapters__item--active {
  background: #FFFFFF;
  border-color: #B8FFEC;
}
.chapters__item:hover {
  background: #FFFFFF;
}
.chapters__link {
  text-decoration: none;
  color: #7E7E82;
}
.chapters__link:active, .chapters__link:hover, .chapters__link:focus {
  color: #1B1C21;
}
.chapters__list {
  display: flex;
  list-style: none;
  overflow: scroll;
}
.chapters__list::after {
  content: "";
  width: 5rem;
}
@media screen and (min-width:1440px) {
  .chapters__list {
    flex-wrap: wrap;
    overflow: visible;
  }
}


/* STORY BLOCK */
.story__wrap {
  padding: 0 1rem 1.5rem;
}
.story__line {
  margin: 0 0 1.5rem;
  font-size: .875rem;
  line-height: 1.29rem;
  letter-spacing: 0.2px;
  color: #1B1C21;
}
.story__body {
  height: auto;
  overflow: visible;
  transition: all .3s ease;
}
.story__body--short {
  height: 6.5rem;
  overflow: hidden;
  margin-bottom: .5rem;
}
.story__figure {
  margin: 0 0 1rem;
}
.story__img {
  display: block;
  max-width: 100%;
}
@media screen and (min-width:540px) {
  .story {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
  }
  .story__wrap {
    flex-basis: 45%;
    padding: 0 0 1.5rem;
  }
  .story__figure {
    flex-basis: 46.875%;
  }
  .story__img {
    border-radius: 6px;
    max-width: 100%;
  }
  .story__body--short {
    height: 8rem
  }
}
@media screen and (min-width:768px) {
  .story__body--short {
    height: 10rem
  }
  .page__story {
    padding: 0 1.5rem;
  }
}
@media screen and (min-width:1440px) {
  .story__body--short {
    height: 12rem
  }
  .page__story {
    padding: 0 2rem;
  }
}


/* PAGE__PART | CHAPTER */
.chapter__title {
  padding: 1rem 5%;
  margin: 0;
  font-family: 'TT Lakes Regular';
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
  text-transform: uppercase;
  border-top: 1px solid #D9FFF5;
  background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  color: #7E7E82;
}
@media screen and (min-width:768px) {
  .chapter__title {
    padding: 1rem 3%;
  }
}
.chapter__body {
  padding: 1rem 5% 1.5rem;
}
@media screen and (min-width:768px) {
  .chapter__body {
    padding: 1.5rem 3% 2rem;
  }
}
@media screen and (min-width:1440px) {
  .chapter__body {
    padding-bottom: 3.125rem;
  }
}


/* CARDS LIST (COMMON BLOCK) */
.cards {
  margin-bottom: 2rem;
}
@media screen and (min-width:540px) {
  .cards {
    display: grid;
    margin-bottom: 1rem;
    grid-template-areas: "card card";
    gap: 1rem;
  }
}
@media screen and (min-width:768px) {
  .cards {
    grid-template-areas: "card card card";
    gap: 1rem 1.5rem;
  }
}
@media screen and (min-width:1440px) {
  .cards {
    grid-template-areas: "card card card card";
    gap: 1rem 2rem;
  }
}
/* CARDS__ITEM */
.cards__item {
  min-width: 224px;
  max-width: 240px;
  grid-area: "card";
}
.cards__link {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFFFFF no-repeat 1rem 50%;
  color: #1B1C21;
  text-decoration: none;
  outline: none;
}
.cards__link:active, .cards__link:hover, .cards__link:focus {
  border-color: #41F6D7
}
.cards__link::after {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  right: 2rem;
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(./../img/icon-go.svg) 0 0 no-repeat;
  opacity: 0;
}
.cards__link:active::after, .cards__link:hover::after, .cards__link:focus::after {
  border-radius: 50%;
  opacity: 1;
  right: 1rem;
  transition: all .2s linear;
}


/* BRANDS SECTION */
.brands__item {
  height: 4.5rem;
}
.brands__link--lenovo { background-image: url(./../files/brand-lenovo.png) }
.brands__link--samsung { background-image: url(./../files/brand-samsung.png) }
.brands__link--apple { background-image: url(./../files/brand-apple.png) }
.brands__link--viewsonic { background-image: url(./../files/brand-viewsonic.png) }
.brands__link--bosch { background-image: url(./../files/brand-bosch.png) }
.brands__link--hp { background-image: url(./../files/brand-hp.png) }
.brands__link--acer { background-image: url(./../files/brand-acer.png) }
.brands__link--sony { background-image: url(./../files/brand-sony.png) }
.brands__link--lenovo { background-image: url(./../files/brand-lenovo.png) }
.brands__link--samsung { background-image: url(./../files/brand-samsung.png) }
.brands__link--apple { background-image: url(./../files/brand-apple.png) }
.brands__button {
  display: none;
}
@media screen and (min-width:540px) {
  .brands__pool {
    height: auto;
    overflow: visible;
    transition: all .3s ease;
    margin-bottom: 1rem;
  }
  .brands__pool--short {
    height: 10rem;
    overflow: hidden;
  }
  .brands__button {
    display: flex;
  }
}


/* DEVICES SECTION */
.devices__item {
  height: 10rem;
}
.devices__button {
  display: none;
}
@media screen and (min-width:540px) {
  .devices__pool {
    height: auto;
    overflow: visible;
    transition: all .3s ease;
    margin-bottom: 1rem;
  }
  .devices__pool--short {
    height: 10rem;
    overflow: hidden;
  }
  .devices__button {
    display: flex;
  }
}


/* PRICES SECTION */
.prices__list {
  font-size: .875rem;
}
.prices__item {
  position: relative;
  box-sizing: border-box;
  width: 260px;
  height: 12.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #FFFFFF;
  border-radius: .375rem;
}
.price {
  font-size: .875rem;
  margin: 0;
  padding: 0;
}
.price__dt {
  margin-bottom: .25rem;
  font-family: 'TT Lakes Medium';
  line-height: 1rem;
  color: #7E7E82;
  opacity: .72;
}
.price__dd {
  margin-left: 0;
  margin-bottom: 1rem;
  line-height: 1.125rem;
  color: #1B1C21;
}
.price__dd:nth-child(3n) {
  margin-bottom: 0;
}
.prices__order {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.prices__notice {
  max-width: 421px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: .875rem;
  line-height: 1.29rem;
  letter-spacing: 0.2px;
  color: #1B1C21;
}
.prices__offer {
  font-family: 'TT Lakes Medium';
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-decoration: none;
}
.prices__offer:hover, .prices__offer:active, .prices__offer:focus {
  color: #7E7E82;
}
.prices__offer::after {
  position: relative;
  top: 2px;
  left: .5rem;
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  background: url(./../img/gt-red.svg) 50% 100% no-repeat;
}
.prices__pool {
  height: 14.5rem;
}
.prices__labels {
  display: none;
}
@media screen and (min-width:540px) {
  .prices__pool {
    height: auto;
    overflow: visible;
  }
  .prices__list {
    display: block;
    width: auto;
    padding: 0 1rem;
    background-color: #FFFFFF;
    border-radius: .375rem;
  }
  .prices__item {
    width: auto;
    height: 4rem;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #EAEAEA
  }
  .prices__item:last-child {
    border-bottom: none;
  }
  .price__dt {
    display: none;
  }
  .price__dt--label {
    display: block;
  }
  .price {
    display: grid;
    grid-template-columns: 40% 17% 43%;
    align-items: center;
    height: 4rem;
  }
  .price--label {
    height: auto;
  }
  .price__dd {
    margin-bottom: 0;
  }
  .price__dd--service {
    padding-right: 1rem;
  }
  .price__dd--price {
    padding-right: 1rem;
  }
  .prices__order {
    right: 0;
  }
  .prices__labels {
    display: block;
    padding: .25rem 1rem .75rem;
  }
  .prices__notice {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width:768px) {
  .price {
    grid-template-columns: 50% 15% 35%;
  }
}
@media screen and (min-width:960px) {
  .price {
    grid-template-columns: 55% 15% 30%;
  }
  .prices__notice {
    margin-top: 2rem;
  }
}


/* ASIDE / SITE MENU */
.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: -1;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  background-color: #FFFFFF;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  overflow: auto;
}
.aside--hidden {
  display: none;
}
@media screen and (min-width:1440px) {
  .aside {
    position: absolute;
    justify-content: flex-start;
    box-shadow: none;
  }
  .aside--hidden {
    display: flex;
  }
  .aside__head {
    margin-bottom: 15rem;
  }
}

.headline {
  padding: 1.125rem 0 0
}
.headline__item--start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.headline__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3.125rem;
  padding: 0 1rem; /* 0 1rem */
  list-style: none;
}
.headline__button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
@media screen and (min-width:1440px) {
  .headline {
    padding-top: 1.875rem;
  }
}
@media screen and (min-width:768px) {
  .headline__list {
    padding: 0 1.5rem;
  }
}

.sitenav {}
.sitenav__item {
  margin-bottom: 1rem;
}
.sitenav__link {
  display: block;
  padding-left: 1rem;
  color: #1B1C21;
  text-decoration: none;
  font-family: 'TT Lakes Medium';
  font-size: 1rem;
  line-height: 2rem;
}
.sitenav__link:active {
  background-color: #41F6D7;
  transition: background-color .4s ease;
  outline: none;
}
.sitenav__link:hover {
  color: #7E7E82;
}
.sitenav__link--active {
  position: relative;
  color: #7E7E82;
}
.sitenav__link--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 2rem;
  background-color: #41F6D7;
  border-radius: 0 4px 4px 0;
}
@media screen and (min-width:768px) {
  .sitenav__link {
    padding-left: 1.5rem;
  }
}
@media screen and (min-width:1440px) {
  .sitenav__link--active::before {
    left: 1px;
    height: 1.75rem;
    border-radius: 2px;
  }
}


.aside__footer {
  padding-left: 1rem;
  padding-bottom: 2rem;
}
@media screen and (min-width:768px) {
  .aside__footer {
    padding-left: 1.5rem;
  }
}
/* .vcard {} */
.vcard__row--icons {
  margin-bottom: 1rem;
}
.vcard__row--email {
  margin-bottom: .75rem;
}
.vcard__row--phone {
  margin-bottom: 2.5rem;
}
.vcard__icons {
  display: flex;
  gap: 1rem
}
.vcard__link {
  display: inline-block;
  text-decoration: none;
  color: #1B1C21;
  background-color: #FFFFFF;
  outline: none;
}
.vcard__link:active, .vcard__link:hover, .vcard__link:focus {
  background-color: #41F6D7;
  transition: background-color .4s ease
}
.vcard__email {
  font-family: 'TT Lakes Medium';
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.2px;
}
.vcard__phone {
  font-family: 'TT Lakes Bold';
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.6px;
}


.langs {
  display: flex;
  gap: .5rem
}
.langs__link {
  font-family: 'TT Lakes Medium';
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #1B1C21;
  outline: none;
}
.langs__link:active, .langs__link:hover, .langs__link:focus {
  color: #41F6D7;
  transition: color .4s ease
}
.langs__link--active {
  color: #7E7E82;
}


/* FOOTER */
.page-footer {
  padding: 1rem 5% 0;
  border-top: 1px solid #D9FFF5;
}
@media screen and (min-width:768px) {
  .page-footer {
    padding: 1rem 3% 0;
  }
}
@media screen and (min-width:1440px) {
  .page-footer {
    background-color: #F8F8F8;
  }
}

.credits {
  list-style: none;
  text-align: center;
}
.credits__item {
  margin-bottom: 1rem;
  font-family: "TT Lakes Medium";
  font-size: .875em;
  line-height: 1rem;
  color: #7E7E82;
}
.credits__link {
  text-decoration: none;
  color: #7E7E82;
}
.credits__link:hover, .credits__link:active, .credits__link:focus {
  text-decoration: underline;
}
.credits__link--copyright {
  display: block;
}
@media screen and (min-width:540px) {
  .credits {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .credits__item {flex-basis: 33.33%}
  .credits__item:first-child {text-align: left}
  .credits__item:last-child {text-align: right}
}


/* MODALS */
.blank {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .75);
}


.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 0;
}
